ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin: auto;
    padding: 1rem;
    width: 150px;
    height: 440px;
    box-shadow: 5px 5px 10px #ccc;
    margin-right: 40px;
}
img{
    width: 100%;
    height: 150px;
    padding-right: 5px;
}
